@import "tailwindcss";

@theme {
  --breakpoint-sm: 641px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1537px;
  --container-7xl: 1280px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@theme {
  --bg-light: hsl(0, 0%, 100%);
  --text-light: hsl(210, 10%, 23%);
  --bg-dark: hsl(0, 0%, 0%);
  --text-dark: hsl(210, 5%, 90%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  @apply bg-gray-50 dark:bg-dark-950 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}